<% @notes.each do |note| %>
  <div>
    <h3>Notes Feed</h3>
    <%= note.title %> <br>
    <%= note.body %> <br>
    <%= note.user.username %> <br>

    <% if current_user %>
      <% if current_user == note.user %>
        <%= link_to 'Edit', edit_note_path(note) %>
        <%= link_to 'Delete', note_path(note), method: :delete, data: {confirm:"Are you sure?"} %>
      <% else %>
        <% if Like.find_by(note: note, user: current_user) %>
          <%= link_to 'Unlike', unlike_note_path(note), remote: true, method: :delete %>
        <% else %>
          <%= link_to 'Like', like_note_path(note), remote: true, method: :post if note.user != current_user %>
        <% end %>

        <% if Follow.find_by(following_id: note.user, follower_id: current_user) %>
          <%= link_to 'Unfollow', unfollow_user_path(note.user_id), remote: true, method: :delete %>
        <% else %>
          <%= link_to 'Follow', follow_user_path(note.user_id), remote: true, method: :post if note.user != current_user %>
        <% end %>
      <% end %>
    <% end %>
    <br><hr><br>
  </div>
<% end %>

<% if @follows == nil || @follows.size == 0 %>
  <h3>List Of User/s I Followed</h3>
  <div>No User You Are Following</div>
<% else %>
  <% @follows.each do |follow| %>
    <div>
      <%= follow.following.username %> <br>
      <%= link_to 'Unfollow', unfollow_user_path(follow.following.id), remote: true, method: :delete %>
      <br><hr><br>
  <% end %>
<% end %>