<h1>Notes Index</h1>

<% @notes.each do |note| %>
  <div>
    <%= note.title %> <br>
    <%= note.body %> <br>
    <%= note.user.email %> <br>
    <%= link_to 'Edit', edit_note_path(note) %>
    <%= link_to 'Delete', note_path(note), method: :delete, data: {confirm:"Are you sure?"} %>
    <br><hr><br>
  </div>
<% end %>